body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(135deg, #3498db, #1abc9c);
  margin: 0;
  padding: 0;
  color: #fff;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #34495e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

h1 {
  color: whitesmoke;
}

p {
  font-size: 18px;
  color: whitesmoke;
  line-height: 1.5;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

.flashcard {
  background-color: #ecf0f1;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.2s ease-in-out;
  color: black;
}

.flashcard:hover {
  transform: scale(1.05);
}

.flashcard strong {
  display: block;
  font-size: 28px;
  color: black;
}

.flashcard p {
  margin: 10px 0;
  font-size: 22px;
  color: black;
}

.flashcard img {
  width: 80%; 
  height: auto; 
  max-width: 100%; 
}


.flashcard button {
  margin-top: 10px;
  background-color: #e74c3c;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 5px;
}

.flashcard button:last-child {
  margin-right: 0;
}

.flashcard button:hover {
  background-color: #c0392b;
}
.flashcard button:hover {
  transform: scale(1.1);
}
.flashcard strong,
.flashcard p {
  transition: color 0.3s ease;
}
.flashcard button {
  margin-bottom: 5px;
}
@media screen and (max-width: 600px) {
  .flashcard {
    font-size: 18px;
  }
}
.flashcard:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: #3498db; /* Change the color of the link */
  text-decoration: none; /* Remove the underline from the link */
}

.footer a:hover {
  color: #2980b9; /* Change the color on hover */
}
input {
  padding: 10px;
  margin: 8px 0;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.form-label {
  display: block;
  margin-bottom: 8px;
  color: white; /* Adjust the color as needed */
}

.form-input {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #0056b3;
}
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.modal input,
.modal textarea {
  width: 100%;
  margin-bottom: 10px;
}

.modal button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}
